# Custom shell aliases
alias mc='mc -a --skin=darkfar'
alias digt='dig +trace +nodnssec'
alias digg='dig @8.8.8.8'
alias wanip='dig +short myip.opendns.com @resolver1.opendns.com'
alias httpdump="sudo tcpdump -i eth0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
